@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to admin panel</h1>
    <p>Paragraphs are here</p>
    <p>Paragraphs are here</p>
    <p>Paragraphs are here</p>
    <p>Paragraphs are here</p>
</div>
