.headerComponent {
    flex: 1;
    align-self: center;
    justify-self: center;

    max-height: 70px;
    min-height: 70px;

    background-color: #C8E6C9;
    box-shadow: 0 0 16px #cccccc;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1440px;

    border: 2px solid #000000;
    border-top: 0;

    padding: 0 10px 0 10px;
    box-sizing: border-box;
}

.logo {
    height: 70px;
    width: 70px;
}

.logoAndTitle {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-left: 10px;

    text-decoration: none;
}

.search {
    display: flex;
    flex-direction: row;

    gap: 20px;
}

.accountLogo {
    width: 55px;
    height: 55px;

    margin-right: 20px;
}

.toAccountLink {
    display: flex;

    align-items: flex-end;
}